body,
html {
    overflow-x: hidden;
    scrollbar-width: 0px;
    /* background-color: #161616;
    background-image: url("/bg.jpg");
    background-size: cover; */
    background: rgb(66,66,66);
    background: linear-gradient(90deg, rgba(66,66,66,1) -3971%, rgba(22,22,22,1) 0%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
} 